In [1]:
1+1

2

In [3]:
a= 10
print(a, end= '*')

10*

In [13]:
a,b,c= 10,20,30
print(a, end = '\t')
print(b, end = '\b')
print(c, end = '')

10	2030

In [47]:
input( ' first number: ')

 first number: 20'

"20'"

In [48]:
a = input("write any number :")

write any number :90

In [50]:
print(a)

90

In [51]:
type(a)

str

In [52]:
a = 10
b = 20
c = a/b
print(c)

0.5

In [53]:
a = 10
b = 0
c = a/b
print(c)

ZeroDivisionError: division by zero

In [1]:
#format specifier

In [2]:
print("cuckoo", 6)

cuckoo 6

In [21]:
name = "bholu"
sirname = "das"
print("hello {1} {0} , how are you?".format(name, sirname))

hello das bholu , how are you?

In [22]:
name = "bholu"
sirname = "das"
print("hello {b} {a} , how are you?".format(a = name, b = sirname))

hello das bholu , how are you?

In [23]:
a = 8
complex(a)

(8+0j)

In [27]:
a

8

In [33]:
x = 9
if x >= 50 :
    print("bully")
    
else:
        print("chupp")

chupp

In [34]:
if x > 50:
    print("we are in")
else:
    print("we are out")

we are out

In [35]:
#54

In [44]:
if a == 50 :
    print("a is in first if")
elif a < 50 :
    print("second if")
elif a > 50 :
    print("third if")
else:
    print("kantap")

second if

In [47]:
a =17
a%2

1

In [53]:
integer = int(input("enter integer:"))

if integer%2 == 0:
    print("{} is even".format(integer))
else:
    print("{} is odd".format(integer))

enter integer:1232435
1232435 is odd

In [59]:
char = input("enter letter:")
if char.isupper() == 1:
    print("capital")
    
else:
    print("lower")

enter letter:Asd
lower

In [56]:
char.isupper()

False

In [60]:
#1:21

In [70]:
ch = input("enter character:")
if "A"<= ch <= "Z":
    print("this char is capital")
else:
    print("its small")

enter character:X
this char is capital

In [73]:
a = input("enter a:")
b = input("enter b:")
c = input("enter c:")

print("max is :",max(a,b,c))

enter a:12
enter b:34
enter c:22
max is : 34

In [81]:
a = int(input("enter a:"))
b = int(input("enter b:"))
c = int(input("enter c:"))

if a>b :
    
    if a>c:
        print(a)
    else:
    
        print(c)
elif b>a:

    if b>c:
        print(b)
    else:
        print(c)

enter a:3
enter b:2
enter c:1
3

In [84]:
x = 1
while x <= 10:
    print('{} sunny'.format(x))
    x += 1

1 sunny
2 sunny
3 sunny
4 sunny
5 sunny
6 sunny
7 sunny
8 sunny
9 sunny
10 sunny

In [85]:
i = 1
while i <= 50:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [105]:
string = input("enter a string: ")
vovels = ["a","e","i", "o", "u"," "]
i = 0
while i < len(string):
    
    if string[i].lower() not in "aeiou ":
    
        print(string[i])
    i = i + 1
    
print("loop ends with", i)

enter a string: I am pappu
m
p
p
p
loop ends with 10

In [96]:
len(string)

4

In [108]:
x

11